.container {
    position: relative;
    height: 100%; /* Set the container height to 100% */
  }
  
  .content {
    position: absolute;
    bottom: 0; /* Place the content at the bottom */
    width: 100%; /* Set the content width to 100% */
  }
  
.navbar .btn_download {
    color: white;
    font-weight: bold;
    background-color:  #FF5100;
    box-shadow: none;
}

.navbar .btn_download:hover {
    color: white;
    font-weight: bold;
    background-color: #FF5100;
    opacity:0.7;
    box-shadow: none;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    /* padding: 10px 20px; */
    font-weight: bold;
}

.navbar a .active {
    /* background-color: red; */

    color: #FF5100;
}

/* .navbar .box{
    width: 200px;
} */